#dehacked-window-textarea {
	font-family: "Courier New", Courier, monospace;
	width: 600px;
	height: calc(100vh - 55px);
}

@media only screen and (max-width: 1080px) {
	#dehacked-window-textarea {
		width: 100%;
	}
}
