#ex-search-window>div:first-of-type {
    display: flex;
    gap: 12px;
}

#ex-search-window>div>div:first-of-type {
    border-right: 1px solid black;
}

#ex-search-window>div>div>p:first-of-type {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 8px;
}

.ex-search-window-searchdiv {
    margin-right: 12px;
    display: flex;
    gap: 8px;
}

#ex-search-window-results {
    margin-top: 8px;
}

#ex-search-window-results>div {
    display: flex;
    flex-wrap: wrap;
}

#ex-search-window-results>div>div {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

#ex-search-window-results>div>div>p {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

#ex-search-window-results>div>div>p>span {
    font-weight: normal;
}

#ex-search-window-results>div>div>div>a {
    display: block;
    margin-bottom: 8px;
}