.stbar-graphics-container {
	display: flex;
	flex-wrap: wrap;
}

.stbar-graphics-container .stbar-graphics-split-container {
	margin: 8px;
	border: 1px solid black;
}

.stbar-graphics-container .stbar-graphics-split-container > div:nth-child(1) {
	border-bottom: 1px solid black;
}

.stbar-graphics-container .stbar-graphics-data-container {
	display: flex;
	padding: 8px;
}
