<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>WadView</title>
    </head>
    <body>
        <div id="topbar">
            <h1 id="topbar-head"></h1>
            <div id="topbar-input-boxes">
                <input type="file" accept=".wad,.zip" id="wad-input-hidden"/>
                <button id="wad-input-doom">Open DOOM1.WAD</button>
                <button id="wad-input-idgames">Find from idgames</button>
                <button id="wad-input" >Select WAD</button>
                <button id="wad-input-text-loader">Load URL</button>
                <input type="text" id="wad-input-text"/>
            </div>
        </div>
        <div id="sidebar">
            <div class="section" id="section-meta" style="display: none;">
                <div class="head">Meta</div>
            </div>
            <div class="section" id="section-colors" style="display: none;">
                <div class="head">Colors</div>
            </div>
            <div class="section" id="section-maps" style="display: none;">
                <div class="head">Maps</div>
            </div>
        </div>
        <div id="content">
        </div>
    </body>
</html>